nav {
  position: static;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  height: 10vh;
  font-family: 'Courier Prime', monospace;
}

ul {
  list-style: none;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
}

li {
  padding: 1.5em;
}

.nav_links {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
.nav_links:hover {
  text-decoration: none;
  color: white;
}

.navbar{
  background-color: #5299D3;
}
